# 依赖与构建产物
node_modules/
dist/
src-tauri/target/
.npmcache/

# 日志与系统
*.log
.DS_Store
Thumbs.db

# 临时
*.tgz

# tauri icon 移动端产物（桌面端不用）
src-tauri/icons/android/
src-tauri/icons/ios/
vite.config.ts.timestamp-*.mjs
